   # Visual Data Analysis of Fraudulent Transactions

In [9]:
# initial imports
import pandas as pd
import calendar
import plotly.express as px
import hvplot.pandas
from sqlalchemy import create_engine

In [12]:
# create a connection to the database
db_url = "postgresql://postgres:postgres@localhost:5432/fraud_detec_7"

engine = create_engine(db_url)

   ## Data Analysis Questions 1

   Use `hvPlot` to create a line plot showing a time series from the transactions along all the year for **card holders 2 and 18**. In order to contrast the patterns of both card holders, create a line plot containing both lines. What difference do you observe between the consumption patterns? Does the difference could be a fraudulent transaction? Explain your rationale.

In [32]:
# loading data for card holder 2 and 18 from the database
card_holder_id_1 = 2
card_holder_id_2 = 18
query_card_holder = """
SELECT 
	bb.id_card_holder,
	bb.card,
	cc.amount,
	cc.id_merchant,
	cc.date
FROM "card_holder" aa
LEFT JOIN "credit_card" bb ON aa.id_card_holder=bb.id_card_holder
JOIN "transaction" cc ON bb.card=cc.card
JOIN "merchant" dd ON cc.id_merchant=dd.id_merchant
WHERE aa.id_card_holder="""+ str(card_holder_id_1) +""" OR aa.id_card_holder=""" + str(card_holder_id_2)+""";
 
"""

# Load data into dataframe
transactions_card_holder = pd.read_sql(query_card_holder,engine)
transactions_card_holder.head()

,id_card_holder,card,amount,id_merchant,date
0,18,4498002758300,2.95,64,2018-01-01 23:15:10
1,18,344119623920892,1.36,30,2018-01-05 07:19:27
2,2,4866761290278198714,1.33,127,2018-01-06 02:16:41
3,2,4866761290278198714,10.82,70,2018-01-06 05:13:20
4,18,344119623920892,175.00,12,2018-01-07 01:10:54

In [36]:
# plot for cardholder 2
cardholder_2_df = transactions_card_holder[transactions_card_holder['id_card_holder']==2]
cardholder_2_df['date'] = pd.to_datetime(cardholder_2_df['date']).dt.date
cardholder_2_df.head(2)

   id_card_holder                 card  amount  id_merchant        date
2               2  4866761290278198714    1.33          127  2018-01-06
3               2  4866761290278198714   10.82           70  2018-01-06

In [42]:
# calculate average spending per day
sum_daily_spending = cardholder_2_df.groupby('date').sum()
sum_daily_spending.drop(columns=['id_card_holder','id_merchant'], inplace=True)
sum_daily_spending.head()
#cardholder_2_df.set_index('date',inplace=True)
#cardholder_2_df.head()

            amount
date
2018-01-06   12.15
2018-01-07   17.29
2018-01-10   10.91
2018-01-16   17.64
2018-01-19   11.58

In [ ]:
# calculate average spending per day
sum_daily_spending = cardholder_2_df.groupby()

In [ ]:
# plot for cardholder 18

In [ ]:
# combined plot for card holders 2 and 18

   ### Conclusions for Question 1

   ## Data Analysis Question 2

   Use `Plotly Express` to create a series of six box plots, one for each month, in order to identify how many outliers could be per month for **card holder id 25**. By observing the consumption patters, do you see any anomalies? Write your own conclusions about your insights.

In [ ]:
# loading data of daily transactions from jan to jun 2018 for card holder 25

In [ ]:
# change the numeric month to month names

In [ ]:
# creating the six box plots using plotly express

   ### Conclusions for Question 2